:root {
  --ff-primary: "Roboto", sans-serif;

  --fw-semi-bold: 500;

  --fs-screen: 2.7rem;
  --fs-btn: 1.2rem;

  --clr-bg: #00000093;
  --clr-light: #fff;
  --clr-btn-fn: #00000088;
  --clr-btn-num: #000000c9;
  --clr-btn-hover: #868686;
  --clr-btn-active: #9c9c9c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  color: var(--clr-light);
  height: 100vh;
}

/* =============
Layout
=============*/

.calculator {
  width: 98%;
  max-width: 380px;
  margin: 5em auto;
  padding: 0.3em;
  background: var(--clr-bg);
  box-shadow: 1px 1px 10px #00000080;
}

.screen {
  font-size: var(--fs-screen);
  font-weight: var(--fw-semi-bold);
  text-align: right;
  padding: 0.4em 0.1em;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.btn--clear,
.btn--backspace {
  grid-column: span 2;
}

.btn {
  padding: 1em;
  border: none;
  color: #fff;
  font-size: var(--fs-btn);
}

.btn:hover {
  background: var(--clr-btn-hover);
}

.btn:active {
  background: var(--clr-btn-active);
}

.btn--number {
  background: var(--clr-btn-num);
  font-weight: var(--fw-semi-bold);
  transition: background 0.2s;
}

.btn--operator,
.btn--clear,
.btn--backspace,
.btn--point,
.btn--equals {
  background: var(--clr-btn-fn);
  transition: background 0.2s;
}

/* Media Queries */

@media (min-width: 350px) {
  :root {
    --fs-screen: 3rem;
  }
}

@media (min-width: 380px) {
  :root {
    --fs-screen: 3.2rem;
  }
}
